modules = ["nodejs-20", "web", "bash", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
ADMIN_EMAILS = "admin@anonymiketech.online"
LOG_LEVEL = "info"
NODE_ENV = "production"
SERVE_STATIC = "true"
CLOUDFLARE_ZONE_ID = "a1c50eac098866b6e2de830a6a0106d8"
